@import '../../../../assets/scss/mixin.scss';
@import '../../../../assets/scss/variable.scss';
.root{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.top-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.top-head{
    color: var(--n-grey-70, #4F566B);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.21px;
}
.add{
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 5px;
}
.body-wrap{
    display: flex;
    padding: 20px;
    flex-direction: column;
    gap: 20px;
    align-self: stretch;
    border-radius: 10px;
    border: 1px solid var(--n-grey-30, #D9DCE1);
    background: #FFF;
    min-height: 75vh;
}
::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0.5em;
}
input{
    width: 100%;
    border: none;
    background-color: transparent;
    &:focus-visible{
        outline: none !important;
    }
}
.admin-table-search{
    display: flex;
    padding: 7px 15px;
    align-items: center;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    width: 100%;
    margin-bottom: 20px;
}


//table

tr.mat-header-row {
    height: 45px !important;
    background: var(--body-color) !important;

}

.table {
    border-radius: 10px !important;
    border: none !important;
    box-shadow: none !important;
    // box-shadow: 0 0 5px -2px #bfbfbf;
}

// tr.mat-header-row {
//     height: 45px !important;
//     background: var(--n-grey-10, #F7FAFC) !important;
// }
// tr.mat-row{
//     height: fit-content !important;
// }
td.mat-cell{
    border-bottom-color: rgb(0 0 0 / 4%) !important;
}

.mat-header-cell {
    color: var(--text-color) !important;
    text-transform: capitalize;
    font-family: Proxima Nova !important;
    font-weight: 600 !important;
}

.mat-cell {
    color: var(--text-color) !important;
    font-family: Proxima Nova !important;
    font-size: 12px !important;

}

.approve {
    display: flex;
    width: 75px;
    height: 25px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 3px;
    background: var(--Light-green, #CBF4C9);
}

.pending {
    display: inline-block;
    color: var(--pending-color);
    background-color: #e374001a;
    border-radius: 30px;
    text-align: center;
    padding: 5px 10px;
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 600;
}

.reject {
    color: orangered;
    display: flex;
    width: 75px;
    height: 25px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 3px;
    background-color: #f3bba74a;
}

::ng-deep .mat-dialog-container {
    padding: 0 !important;
}
.back-wrap{
    display: flex;
    padding: 8px 2px;
    align-items: flex-end;
    gap: 4px;
    cursor: pointer;
}

.backicon{
    color: var(--Black, #101321);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.orgname{
    color: var(--n-grey-70, #4F566B);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.18px;
}
.top-wrap{
    display: flex;
    align-items: center;
    gap: 20px;
}
.org-bodywrap{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    padding-left: 20px;
}
.org-details{
    display: flex;
    align-items: center;
    gap: 20px;
}
.item-detail{
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.14px;
}
.item-detailinfo{
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.14px;
}
.org-img{
    width: 7%;
}
.acc1 {
    padding: 10px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: 2px solid #86a1b1;
    display: flex;
    align-items: center;
    justify-content: center;

  
  }
  .btn-wrap-page{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
  }
  .back-wrap{
    display: flex;
    align-items: flex-end;
    gap: 4px;
}
.next{
    color: var(--n-grey-70, #4F566B);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.14px;
}
.nonext{
    color: var(--n-grey-70, #A3ACB9);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.14px;
}
:host ::ng-deep .mat-drawer-content{
    background: white !important;
}

::ng-deep .mat-drawer-backdrop.mat-drawer-shown {
    background-color: rgba(0, 0, 0, 0)!important;
}

