.top-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #eee;
    padding: 5px 20px;
}


.mat-dialog-container{
    padding: 20px;
}

.rounded-button{
    border-radius: 30px;
}

.flat{
    background: #ddd;
}