<div class="root-wrap">
    <div class="chat-cover" *ngIf="pageloading">
        <div style="text-align: center;">
            <div><img src="assets/svg/brain-loader.svg" width="100" alt=""></div>
            <div style="text-align: center; font-size: 16px; font-weight: 500; color: #D9DCE1;">{{loadingText}}</div>
        </div>
    </div>

    <div class="chat-cover" *ngIf="!showChat && !pageloading">
        <div class="link" routerLink="gbq">Click to connect DataeGPT to your External GBQ Warehouse</div>
        <div class="top-select">
            <div class="top-cover">
                <div class="top-body">
                    <!-- <span class="selected">Select a Report:</span> -->
                    <div><img src="assets/img/brain.png" width="100" alt=""></div>
                </div>
                <div class="topic">Preview, Query and Talk to Your Reports</div>
                <div class="det">Access a range of pre-generated reports across various domains by simply asking
                    DataeGPT</div>

                <form [formGroup]="form" class="search-form">
                    <mat-form-field appearance="fill" style="font-size: small; margin-right: 20px;"
                        class="custom-form-field">
                        <span *ngIf="loading" matPrefix>
                            <mat-progress-spinner color="primary" diameter="18" mode="indeterminate">
                            </mat-progress-spinner>
                        </span>
                        <mat-select placeholder="Select a Report" class="select-option" formControlName="reportname"
                            style="font-size: small;" (selectionChange)="setTitleNew()">
                            <div class="custom-dropdown-search">
                                <div class="flex-btw-search">
                                    <input #search placeholder="Search" type="text" class="selection-search"
                                        (keydown)="$event.stopPropagation()" (keyup)="onKey(search.value)">
                                    <button mat-icon-button [ngClass]="{hideElement: search.value == ''}"
                                        (click)="search.value=''; reset()" matSuffix>
                                        <mat-icon style="font-size: 15px;">close</mat-icon>
                                    </button>
                                </div>
                            </div>
                            <div class="custom-dropdown-options checkoption">
                                <mat-option style="background-color: whitesmoke;"
                                    *ngIf="totalList.length === 0 && !reportLoading">
                                    --Empty--
                                </mat-option>
                                <mat-option style="background-color: whitesmoke; color: #ccc;" *ngIf="reportLoading">
                                    Getting your reports...
                                </mat-option>
                                <mat-option [value]="type" *ngFor="let type of totalList">
                                    {{type.reportname}}
                                </mat-option>
                            </div>
                        </mat-select>
                    </mat-form-field>
                </form>
            </div>

            <!-- <button mat-flat-button color="primary" class="main-but" (click)="tryitout()" [disabled]="form.invalid">
                <span class="btn-text">Start Query</span>
            </button> -->
        </div>
    </div>

    <div class="chat-cover-two" *ngIf="showChat && !pageloading">
        <div style="width: 100%;">
            <div class="chat-body">
                <div class="chat-top">
                    <div class="top-co">
                        <span class="query-name">You are connected to:</span>
                        <span class="music-dataset" (click)="isdata = !isdata" *ngIf="isdata">
                            <span>{{form.get('reportname')?.value.reportname}}</span>
                        </span>
                        <form [formGroup]="form" class="search-form" style="width: 30em;" *ngIf="!isdata">
                            <mat-form-field appearance="outline" style="font-size: small; margin-right: 20px;"
                                class="custom-form-field">
                                <span *ngIf="loading" matPrefix>
                                    <mat-progress-spinner color="primary" diameter="18" mode="indeterminate">
                                    </mat-progress-spinner>
                                </span>
                                <mat-select placeholder="Select a Report" class="select-option"
                                    formControlName="reportname" style="font-size: small;"
                                    (selectionChange)="setTitle()">
                                    <div class="custom-dropdown-search">
                                        <div class="flex-btw-search">
                                            <input #search placeholder="Search" type="text" class="selection-search"
                                                (keydown)="$event.stopPropagation()" (keyup)="onKey(search.value)">
                                            <button mat-icon-button [ngClass]="{hideElement: search.value == ''}"
                                                (click)="search.value=''; reset()" matSuffix>
                                                <mat-icon style="font-size: 15px;">close</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="custom-dropdown-options checkoption">
                                        <mat-option style="background-color: whitesmoke;"
                                            *ngIf="totalList.length === 0 && !reportLoading">
                                            --Empty--
                                        </mat-option>
                                        <mat-option style="background-color: whitesmoke; color: #ccc;"
                                            *ngIf="reportLoading">
                                            Getting your reports...
                                        </mat-option>
                                        <mat-option [value]="type" *ngFor="let type of totalList">
                                            {{type.reportname}}
                                        </mat-option>
                                    </div>
                                </mat-select>
                            </mat-form-field>
                        </form>
                    </div>
                    <div class="flex-end clear">
                        <div class="btn-left" style="margin-left: 5px;" (click)="clear()" *ngIf="chatList.length !== 0">
                            <i class="ph ph-trash"></i>
                            <span style="margin-left: 5px;">Clear Chat</span>
                        </div>

                        <div class="btn-left black" style="margin-left: 5px;" *ngIf="chatList.length === 0 && showChat"
                            (click)="back()">
                            <i class="ph ph-arrow-left"></i>
                            <span style="margin-left: 5px;">Back</span>
                        </div>
                    </div>
                </div>

                <div class="chat-wrap" *ngIf="chatList.length === 0">
                    <img src="assets/newbrandimg/chat.png" alt="" class="chat-img">

                    <div class="chat-name">
                        Hi <strong>{{name}}!</strong> How may I help you today? 😃
                    </div>
                </div>

                <div>
                    <div class="custom-scroll-bar msg-box" id="messageboard" *ngIf="chatList.length !== 0">
                        <div *ngFor="let item of chatList; let i = index">
                            <div *ngIf="item.id === 'title'" class="chat-title">

                                <div class="title-msg"><i style="color: #aaa; font-weight: 400;">Report:</i>
                                    <br>{{item.title?.reportname}}
                                </div>
                            </div>
                            <div *ngIf="item.id === 'question'" class="question">
                                <div class="message">
                                    <ng-container *ngIf="item.loading">
                                        <div class="timestamp">Sending...</div>
                                    </ng-container>

                                    <ng-container *ngIf="!item.loading">
                                        <div class="timestamp">{{item.timestamp | date:"MMM dd 'at' hh:mm a"}}</div>
                                    </ng-container>

                                    <div class="acc1">{{getInitials(name)}}</div>
                                    <div class="message-txt" [ngClass]="{'msg-loading': item.loading}">
                                        <div class="loader" *ngIf="item.loading">
                                            <mat-spinner [diameter]="18" mode="indeterminate"></mat-spinner>
                                        </div>
                                        {{item.reply}}
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="item.id === 'answer'" class="reply">
                                <img src="assets/newbrandimg/chat.png" alt="" class="chat-img2">
                                <pre class="fade" *ngIf="!item.loading" [innerHtml]="item.reply"></pre>
                                <span class="fade" *ngIf="item.loading">
                                    <ngx-skeleton-loader appearance="line" count="1"
                                        [theme]="{height: '50px'}"></ngx-skeleton-loader>
                                </span>
                                <i class="think" *ngIf="item.loading">Bot is thinking...</i>
                                <span *ngIf="!item.loading" (click)="copy(item.reply, i)" class="copy">
                                    <i class="ph ph-copy" *ngIf="copied != i"></i>
                                    <i class="ph ph-check" *ngIf="copied == i"></i>
                                </span>
                            </div>
                            <div class="options" *ngIf="item.chart"
                                (click)="item.showChart = !item.showChart; showChart(item)"
                                [title]=" item.showChart ? 'hide' : 'show'">
                                <i class="ph ph-chart-bar"></i> Chart
                            </div>
                        </div>
                    </div>

                    <form class="chat-field" [formGroup]="chatForm">
                        <mat-form-field appearance="fill" style="font-size: small;" class="custom-form-field">
                            <textarea formControlName="message" autofocus matInput placeholder="Type your query"
                                cdkTextareaAutosize cdkAutosizeMaxRows="10" (keydown)="enter($event)"
                                (keyup)="resetKey($event)"></textarea>
                            <img src="assets/svg/send2.svg" *ngIf="chatForm.valid && canSend" alt="" class="sendicon"
                                matSuffix (click)="send()">
                        </mat-form-field>
                        <!-- <div class="chat-opt"></div> -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-container *ngIf="displayChart">
    <div class="chart-cover" (click)="displayChart = false">
        <div *ngIf="chartLoading">
            <ngx-skeleton-loader appearance="line" count="1" [theme]="{height: '400px'}"></ngx-skeleton-loader>
        </div>
        <div class="chart" [ngClass]="{'hide': chartLoading}" (click)="$event.stopPropagation()">
            <canvas id="canvas">{{chart}}</canvas>
        </div>
    </div>
</ng-container>