@import '../../../../../assets/scss/variable.scss';
@import '../../../../../assets/scss/mixin.scss';


.body {
    padding: 30px;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
}