<div class="flex-center">
    <div class="align-center" style="min-width: 20vw;">
        <img src="assets/images/empty-state-1.png" class="empty-state-image" alt="empty state image">
        &nbsp;
        <div class="empty-state-header">No record</div>
        <div class="empty-state-text">Click to generate Report </div>

        <div class="flex-center">
            <button mat-button color="primary" (click)="createOperation()">
                <i class="fa fa-plus"></i> &nbsp; Generate
            </button>
        </div>

    </div>
</div>