<div class="body">
    <!-- <div class="top-wrapper">
        <div class="popup-wrap">
            <img src="../../../../../assets/newbrandimg/icons8-receipt-80.png" alt="" class="popup-img">
            <span class="popup-header">Payment Receipt</span>
        </div>
        <i class="ph-duotone ph-x cancel" (click)="close()"></i>
    </div> -->
    <div class="list">
        <i class="ph ph-check-circle" style="font-size: 100px; color: green;"></i>
        <span class="email">Payment Successful</span>
    </div>
    <div class="submit-wrap">
        <button mat-flat-button color="primary" (click)="close()">
            <span class="btn-text">Continue</span>
            <!-- <app-button-loader *ngIf="reportLoading"></app-button-loader> -->
        </button>
    </div>
</div>
