<div class="root">
    <div class="body authorize-body" *ngIf="showSuccess">
        <img src="assets/newbrandimg/ph_check-circle-duotone.svg" alt="" class="auth-logo">
        <div class="auth-message">
            <div class="auth-head">Process Completed.</div>
            <span class="auth-info">
                {{this.successmsg}}
            </span>
            <div class="mt-2 flex-center">
                <button mat-flat-button class="flat" (click)="closeSuccess()">Close</button> &nbsp; &nbsp;
            </div>
        </div>
    </div>
    <div class="body" *ngIf="!showSuccess">
        <div class="top-wrapper">
            <div class="popup-wrap">
                <span class="popup-header">Manage Destination</span>
            </div>
            <i class="ph-duotone ph-x cancel" (click)="close()"></i>
        </div>

        <form [formGroup]="form">
            <div>
                <label for="altcat">Connector Destination <sup style="color: red;">*</sup></label>
                <mat-form-field floatLabel="never" style="font-size: small;" class="custom-form-field"
                    appearance="outline">
                    <span *ngIf="destinationLoading" matPrefix>
                        <mat-progress-spinner color="primary" diameter="18" mode="indeterminate">
                        </mat-progress-spinner>
                    </span>
                    <mat-select placeholder="Select destination" formControlName="dest" style="font-size: small;">
                        <div class="custom-dropdown-search">
                            <div class="flex-btw">
                                <input #searchDest placeholder="Search" type="text" class="selection-search"
                                    (keydown)="$event.stopPropagation()" (keyup)="onKeyDest(searchDest.value)">
                                <button mat-icon-button [ngClass]="{hideElement: searchDest.value == ''}"
                                    (click)="searchDest.value=''; reset()" matSuffix>
                                    <mat-icon style="font-size: 15px;">close</mat-icon>
                                </button>
                            </div>
                        </div>
                        <div class="custom-dropdown-options">
                            <mat-option style="background-color: whitesmoke;" *ngIf="destList.length === 0">
                                --Empty--
                            </mat-option>
                            <mat-option [value]="type._id" *ngFor="let type of destList">
                                {{type.title}}
                            </mat-option>
                        </div>

                    </mat-select>
                </mat-form-field>
            </div>
          
        

            <div class="mt-1">

                <label for="altcat">Custom Connector Region <sup style="color: red;">*</sup></label>
                <mat-form-field floatLabel="never" style="font-size: small;" class="custom-form-field"
                    appearance="outline">
                    <span *ngIf="destinationLoading" matPrefix>
                        <mat-progress-spinner color="primary" diameter="18" mode="indeterminate">
                        </mat-progress-spinner>
                    </span>
                    <mat-select placeholder="Select Region" formControlName="region" style="font-size: small;">
                        <div class="custom-dropdown-search">
                            <div class="flex-btw">
                                <input #searchRegion placeholder="Search" type="text" class="selection-search"
                                    (keydown)="$event.stopPropagation()" (keyup)="onKeyRegion(searchRegion.value)">
                                <button mat-icon-button [ngClass]="{hideElement: searchRegion.value == ''}"
                                    (click)="searchRegion.value=''; reset()" matSuffix>
                                    <mat-icon style="font-size: 15px;">close</mat-icon>
                                </button>
                            </div>
                        </div>
                        <div class="custom-dropdown-options">
                            <mat-option style="background-color: whitesmoke;" *ngIf="regionList.length === 0">
                                --Empty--
                            </mat-option>
                            <mat-option [value]="type._id" *ngFor="let type of regionList">
                                {{ type.regionDescription }} - {{ type.regionName}}
                            </mat-option>
                        </div>

                    </mat-select>
                </mat-form-field>
            </div>

          
           
            <div class="submit-wrap">
                <button mat-flat-button style="width: 100%;" color="primary" [disabled]="form.invalid || loading" (click)="submit()">
                    <span class="btn-text" *ngIf="!loading">Submit</span>
                    <app-button-loader *ngIf="loading"></app-button-loader>
                    
                </button>
            </div>
        </form> 
    </div>
</div>