<div class="root">
    <div class="body authorize-body" *ngIf="showSuccess">
        <img src="assets/newbrandimg/ph_check-circle-duotone.svg" alt="" class="auth-logo">
        <div class="auth-message">
            <div class="auth-head">Process Completed.</div>
            <span class="auth-info">
                {{this.successmsg}}
            </span>
            <div class="mt-2 flex-center">
                <button mat-flat-button class="flat" (click)="closeSuccess()">Close</button> &nbsp; &nbsp;
            </div>
        </div>
    </div>
    <div class="body" *ngIf="!showSuccess">
        <div class="top-wrapper">
            <div class="popup-wrap">
                <span class="popup-header">Create a Group</span>
            </div>
            <i class="ph-duotone ph-x cancel" (click)="close()"></i>
        </div>
        <form [formGroup]="form">
            <div class="mt-1">
                <label for="altcat">Group Name <sup style="color: red;">*</sup></label>
                <mat-form-field appearance="outline" style="font-size: small;" class="custom-form-field">
                    <input type="text" formControlName= "name" matInput placeholder="Enter Group Name">
                </mat-form-field>
            </div>
            
            <div class="mt-1">
                <label for="altcat">Description</label>
                <mat-form-field appearance="outline" style="font-size: small;" class="custom-form-field">
                    <input type="text" formControlName= "description" matInput placeholder="Enter Description">
                </mat-form-field>
            </div>
           
            <div class="submit-wrap">
                <button mat-flat-button style="width: 100%;" color="primary" [disabled]="form.invalid || loading" (click)="submit()">
                    <span class="btn-text" *ngIf="!loading">Create Group</span>
                    <app-button-loader *ngIf="loading"></app-button-loader>
                </button>
            </div>
        </form> 
    </div>
</div>
